{{> header navStyle='dark'}}

<div class="stripe stripe--inverted inverted border--none"><div class="bounds bounds--wide">
	<div class="section flush--top border--none">
		<div class="__docs_landingHeader">
			<h1 class="__docs_text--displayHero">Meetup <br> Design System</h1>
			<div class="runningText">
				<p><span class="text--bold">What is it for?</span> We’re aiming to shift the focus from design and development to managing and marketing a design system. As we develop a single underlying system that allows for a unified experience across platforms and device sizes, we create a living ecosystem for product teams to ship a consistent user experience.</p>
			</div>
		</div>
	</div>
</div></div>

<div class="stripe"><div class="bounds bounds--wide">
	<div class="section border--none">
		<div class="flex flex--wrap gridList gridList--autoHeight gridList--autoHeight--has1 atMedium_gridList--autoHeight--has2 atLarge_gridList--autoHeight--has4 __docs_overviewCards">
			<div class="gridList-item flex-item">
					<div class="card __docs_height--full">
						<div class="display--flex flex--column">
							<div class="chunk">
								<div class="__docs_landingCardIllo __docs_landingCardIllo--branding keepAspect keepAspect--2-1"></div>
							</div>
							<div class="chunk">
								<h3 class="text--big">Brand</h3>
							</div>
							<div class="chunk">
								<p>Information about the Meetup brand including our mission, voice and tone, and brand assets.</p>
							</div>
							<div class="chunk __docs_flexMarginAlign--bottom">
								<a href="#" class="button button--fullWidth">Learn more</a>
							</div>
						</div>
				</div>
			</div>
			<div class="gridList-item flex-item">
				<div class="card __docs_height--full">
					<div class="display--flex flex--column">
						<div class="chunk">
							<div class="__docs_landingCardIllo __docs_landingCardIllo--content keepAspect keepAspect--2-1"></div>
						</div>
						<div class="chunk">
							<h3 class="text--big">Content</h3>
						</div>
						<div class="chunk">
							<p>Guidelines on the tone of voice to personify the brand and personality of Meetup, while keeping the product easy to navigate and understand.</p>
						</div>
						<div class="chunk __docs_flexMarginAlign--bottom">
							<a href="#" class="button button--fullWidth">Review guidelines</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gridList-item flex-item">
				<div class="card __docs_height--full">
					<div class="display--flex flex--column">
						<div class="chunk">
							<div class="__docs_landingCardIllo __docs_landingCardIllo--design keepAspect keepAspect--2-1"></div>
						</div>
						<div class="chunk">
							<h3 class="text--big">Design</h3>
						</div>
						<div class="chunk">
							<p>Guidelines for product design at Meetup. Includes our design team’s processes and principles as well as visual design details.</p>
						</div>
						<div class="chunk __docs_flexMarginAlign--bottom">
							<a href="#" class="button button--fullWidth">Start designing</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gridList-item flex-item">
				<div class="card __docs_height--full">
					<div class="display--flex flex--column">
						<div class="chunk">
							<div class="__docs_landingCardIllo __docs_landingCardIllo--components keepAspect keepAspect--2-1"></div>
						</div>
						<div class="chunk">
							<h3 class="text--big">Web Components</h3>
						</div>
						<div class="chunk">
							<p>A set of UI components ready for use by designers and engineers to quickly ship new products and features.</p>
						</div>
						<div class="chunk __docs_flexMarginAlign--bottom">
							<a href="#" class="button button--fullWidth">Get components</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section border--none">
		<div class="chunk align--center">
			<h2 class="text--sectionTitle">Who is it for?</h2>
		</div>
		<div class="chunk">
			<div class="flex flex--wrap gridList gridList--autoHeight gridList--autoHeight--has1 atMedium_gridList--autoHeight--has2 flush--left flush--right __docs_whoFor">
				<div class="gridList-item flex-item padding--top flush--bottom flush--right">
					<div class="padding--all">
						<div class="chunk padding--left padding--right">
							<h4 class="text--sectionTitle">Designers</h4>
						</div>
						<div class="chunk padding--left padding--right">
							<div class="runningText">
								<p>Guidelines to learn the Meetup product design patterns and principles</p>
								<p>Components section to familiarize with the existing components to be incorporated into designs</p>
							</div>
						</div>
					</div>
				</div>

				<div class="gridList-item flex-item padding--top flush--bottom flush--right">
					<div class="padding--all">
						<div class="chunk padding--left padding--right">
							<h4 class="text--sectionTitle">Writers, Producers, and Transcreators</h4>
						</div>
						<div class="chunk padding--left padding--right">
							<div class="runningText">
								<p>Guidelines to learn the Meetup brand and content style</p>
								<p>Examples of tone of voice to personify the brand and personality of Meetup, while keeping the product easy to navigate and understand</p>
							</div>
						</div>
					</div>
				</div>

				<div class="gridList-item flex-item padding--top flush--bottom flush--right">
					<div class="padding--all">
						<div class="chunk padding--left padding--right">
							<h4 class="text--sectionTitle">Engineers</h4>
						</div>
						<div class="chunk padding--left padding--right">
							<div class="runningText">
								<p>Guidelines to learn the Meetup brand and content style</p>
								<p>Examples of tone of voice to personify the brand and personality of Meetup, while keeping the product easy to navigate and understand</p>
							</div>
						</div>
					</div>
				</div>

				<div class="gridList-item flex-item padding--top flush--bottom flush--right">
					<div class="padding--all">
						<div class="chunk padding--left padding--right">
							<h4 class="text--sectionTitle">Product Managers</h4>
						</div>
						<div class="chunk padding--left padding--right">
							<div class="runningText">
								<p>Save time and ship faster by knowing all Meetup product design and development patterns and principles</p>
								<p>Understand the design and development process at Meetup at a glance</p>
								<p>Resource for creating within an existing component base to increase speed and agility</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="section section--hasSeparator border--none">
		<div class="chunk align--center">
			<h2 class="text--sectionTitle">What does success look like?</h2>
		</div>

		<div class="runningText bounds __docs_bounds--runningText">
			<div class="chunk">
				<p>We create a visual language and content style guide that utilizes classic principles of good design with the ease of modern user interfaces, creating a consistent system for designers, writers, and engineers to actually use. Our design system records solutions to common design and development tasks to help us ship faster while avoiding bugs, technical debt.</p>
				<p><span class="text--bold">Bottom line:</span> Our value is realized when products ship features using part of our design system.</p>
			</div>
			<div class="flex flex--wrap gridList gridList--autoHeight gridList--autoHeight--has1 atMedium_gridList--autoHeight--has2 flush--left">
				<div class="gridList-item flex-item">
					<div class="card __docs_height--full">
						<div class="display--flex flex--column">
							<h3 class="text--big margin--bottom">Quantitative</h3>
							<div class="runningText chunk">
								<p>20% less UI defects filed in `mup-web`</p>
								<p>Adoption of SDS tools</p>
								<p>Diversity of pull requests to SDS projects</p>
								<p>30% less lines of custom CSS in `mup-web`</p>
							</div>
						</div>
					</div>
				</div>

				<div class="gridList-item flex-item">
					<div class="card __docs_height--full">
						<div class="display--flex flex--column">
							<h3 class="text--big margin--bottom">Design feedback</h3>
							<div class="runningText chunk">
								<p>How much time are we spending on visual defects during design review?</p>
								<p>Are there less pain points with designing and building the UX layer of Meetup?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div></div>

{{> footer}}
