{{> header}}
<div class="flex flex--noGutters flex--column atMedium_flex--row">
	<div class="flex-item flex-item--1">
		<div class="stripe stripe--collection __docs_height--full"><div class="section border--none">
			<ul>
					{{#each collections as |value key|}}
						{{#each this}}
							{{#if_eq key ../../collection}}
								<li>
									<div class="chunk">
										<a href="/{{path}}">{{title}}</a>
									</div>
								</li>
							{{/if_eq}}
						{{/each}}
					{{/each}}
			</ul>
		</div></div>
	</div>
	<div class="flex-item flex-item--3">
		<div class="stripe stripe--collection __docs_height--full">
			<div class="section border--none">
				<div class="card">
					<div class="section border--none">
						<div class="runningText bounds __docs_bounds--runningText">

							{{{ contents }}}

							{{#if_eq subLayout 'icons'}}
								{{> iconIFrame}}
							{{/if_eq}}

						</div>

						{{#if_eq subLayout 'color'}}
							{{> colorSpec}}
						{{/if_eq}}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer}}