{{> header}}

<div class="section border--none">
	<div class="bounds">
		<div class="section border--none">

			<div class="chunk">
				<h2 class="text--pageTitle">{{arrToStr collection}}</h2>
			</div>

			<div class="runningText __docs_bounds--runningText">
				{{{ contents }}}
			</div>

		</div>
	</div>
</div>

{{> footer}}