<!DOCTYPE html>
<html>
	<head>
		<title>{{ head.title }}</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		{{> header}}

		<div class="bounds">
			<pre>{{{ contents }}}</pre>
			<ul class="list">
				{{#if this.collection}}
					{{#each collections as |value key|}}
						{{#each this}} {{!-- as |childValue childKey| --}}
							{{#if_eq key ../../collection}}
								<li class="list-item">
									<div class="chunk">
										<a href="/{{path}}">{{title}}</a>
									</div>
								</li>
							{{/if_eq}}
						{{/each}}
					{{/each}}
				{{/if}}
			</ul>
		</div>

		<script id="__bs_script__">
			document.write(
				"<script async src='http://HOST:8181/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>"
					.replace("HOST", location.hostname)
			);
		</script>
	</body>
</html>
