<div class="section border--none flush--left flush--right">
	<div class="runningText bounds __docs_bounds--runningText">
		<h2 class="text--sectionTitle">UI Colors</h2>
	</div>
	<ul class="__docs_colorList">
		<li class="__docs_colorList-item padding--all" style="background-color:#fafafa;">
			<dl class="__docs_colorList-itemInfo">

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">HEX</h6></dt>
					<dd class="flex-item">#FAFAFA</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">RGBA</h6></dt>
					<dd class="flex-item">#FAFAFA</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">Android</h6></dt>
					<dd class="flex-item">#FAFAFA</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">iOS</h6></dt>
					<dd class="flex-item">#FAFAFA</dd>
				</div></div>

				<div class="chunk flush--bottom"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">Web</h6></dt>
					<dd class="flex-item">#FAFAFA</dd>
				</div></div>

			</dl>
		</li>

		<li class="__docs_colorList-item padding--all inverted" style="background-color:#0F1721;">
			<dl class="__docs_colorList-itemInfo">

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">HEX</h6></dt>
					<dd class="flex-item">#0F1721</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">RGBA</h6></dt>
					<dd class="flex-item">#0F1721</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">Android</h6></dt>
					<dd class="flex-item">#0F1721</dd>
				</div></div>

				<div class="chunk"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">iOS</h6></dt>
					<dd class="flex-item">#0F1721</dd>
				</div></div>

				<div class="chunk flush--bottom"><div class="flex">
					<dt><h6 class="__docs_specLabel text--bold text--secondary">Web</h6></dt>
					<dd class="flex-item">#0F1721</dd>
				</div></div>

			</dl>
		</li>
	</ul>
</div>

<div class="section border--none">
	<div class="runningText bounds __docs_bounds--runningText">
		<h2 class="text--sectionTitle">Background colors</h2>
	</div>
</div>