		<script id="__bs_script__">
			document.write(
				"<script async src='http://HOST:8181/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>"
					.replace("HOST", location.hostname)
			);
		</script>
		<script>
			const hamburger = document.querySelector('.js_hamburger');
			const mainNav = document.querySelector('.js_mainNav');
			console.log(hamburger);
			hamburger.addEventListener('click', (e) => {
				mainNav.classList.toggle('display--none');
			});
		</script>
	</body>
</html>