		<footer class="stripe stripe--inverted inverted">
			<div class="section">
				<div class="flex flex--alignBottom">
					<div class="flex-item">
						<div class="chunk">
							<img alt="Meetup home" src="https://meetup.atlassian.net/s/lhtk5w/b/c/6e3b32004e275dd668e679b828ec105b/_/jira-logo-scaled.png">
						</div>
						<div class="chunk">
							<p>Last updated <span class="text--bold">Jan 01 2018, 6:00 PM</span></p>
						</div>
					</div>

					<div class="flex-item flex-item--shrink">
						<ul class="inlineblockList">
							<li><div class="chunk">
								<a href="mailto:designsystems@meetup.com" class="link">Submit feedback</a>
							</div></li>
							<li><div class="chunk">
								<a href="/resources" class="link">Design system resources</a>
							</div></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script id="__bs_script__">
			document.write(
				"<script async src='http://HOST:8181/browser-sync/browser-sync-client.js?v=2.18.11'><\/script>"
					.replace("HOST", location.hostname)
			);
		</script>
		<script>
			const hamburger = document.querySelector('.js_hamburger');
			const mainNav = document.querySelector('.js_mainNav');
			console.log(hamburger);
			hamburger.addEventListener('click', (e) => {
				mainNav.classList.toggle('display--none');
			});
		</script>
	</body>
</html>