<!DOCTYPE html>
<html>
	<head>
		<title>{{ head.title }}</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="__docs_detailPage">
		{{> nav navStyle=navStyle}}
		<div class="display--none">{{> iconSprite}}</div>