//
// Landing page styles
//
$cardOverlap: 15vh;

.__docs_landingHeader {
	padding-bottom: $cardOverlap;
}

.__docs_text--displayHero {
	font-size: calc(#{$font-size-display1} + 1vw);
	line-height: $line-height-largeText;
	margin-bottom: calc(#{$space} + .5vw);
}

.__docs_runningText--noHyphens p { //chained class for specificity :/
	@include hyphens(none !important);
}

.__docs_lineHeight--default {
	line-height: $line-height !important;
}

.__docs_overviewCards {
	margin-top: -#{$cardOverlap};

	.card {
		@extend %shadow;
		border-radius: $largeRadius;
		border-width: 0;
	}
}

.__docs_whoFor .gridList-item {
	box-shadow: none;
	border-top: 1px solid $C_border;

	@include atMediaUp(medium) {
		border-top: 0;

		&:nth-child(2) {
			box-shadow: -1px 1px 0 $C_border;
		}

		&:nth-child(3) {
				box-shadow: inset -1px 1px 0px $C_border;
		}

	}

	&:first-child {
		border-top: 0;

		@include atMediaUp(medium) {
			border-top: 0;
		}

	}
}

.__docs_highlightSection {
	position: relative;
	z-index: 1;
}

$C_dimmingOverlay--dark: transparentize($C_black, .1);
.__docs_bgOverlay {
	background-color: $C_dimmingOverlay--dark;
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

//
// Overlay transitions
//
.__docs_bgOverlay-appear,
.__docs_bgOverlay-enter {
	opacity: 0.01;
}

.__docs_bgOverlay-appear.__docs_bgOverlay-appear-active,
.__docs_bgOverlay-enter.__docs_bgOverlay-enter-active {
	opacity: 1;
	transition: opacity $duration--medium $easing--enter;
}

.__docs_bgOverlay-exit {
	opacity: 1;
	transform: translateY(0px);
}

.__docs_bgOverlay-exit.__docs_bgOverlay-exit-active {
	opacity: 0.01;
	transition: opacity $duration--long $easing--exit;
}

//
// Documentation section cards
//
.__docs_landingCardIllo {
	background-color: $C_collectionBG;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: $defaultRadius $defaultRadius 0 0;
	height: $block-3;
	margin: -#{$space} -#{$space} 0 -#{$space};
}


@keyframes float {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(-5px);
	}
}

.anim-float {
	animation: float 3s infinite;
	animation-direction: alternate;
}

.__docs_landingCardIllo--brand {
	background-image: url('../static/assets/landingPgIllos/brand.jpg');
}

.__docs_landingCardIllo--content {
	background-image: url('../static/assets/landingPgIllos/content.jpg');
}

.__docs_landingCardIllo--design {
	background-image: url('../static/assets/landingPgIllos/design.jpg');
}

.__docs_landingCardIllo--web-components {
	background-image: url('../static/assets/landingPgIllos/components.jpg');
}
