<!DOCTYPE html>
<html>
	<head>
		<title>{{ head.title }}</title>
		<script type="text/javascript" src="/script.js"></script>
	</head>
	<body style="padding: 20vh 40vw;">
		<pre>{{{ contents }}}</pre>
	</body>
</html>
