//
// SASS BASE FILE
// include any additional scss from `src/scss/` as sass partials
//

//
// color library
//
@import "../../node_modules/meetup-swatches/sass/colors.scss";

//
// swarm-sasstools utils
//
@import "swarm-sasstools-utils";

//
// styles from swarm-sasstools and meetup-web-components
//
@import "sds-styles";

/*
	DOCS STYLES GO HERE
*/

//
// Doc-specific
//
.__docs_detailPage {
	background: $C_collectionBG;
}

.__docs_specLabel {
	width: $block-2;
}

.__docs_bounds--runningText {
	max-width: 40em;

	img {
		max-width: 100%;
		@include atMediaUp(huge) {
			max-width: calc(100% + #{$space-double*2});
			margin-left: -#{$space-double};
		}
	}
}

.__docs_colorList {
	margin: 0 -#{$space-double};
}

.__docs_iframe {
	border: none;
	display: block;
	outline: none;
	width: 100%;
}

//
// Misc styles
//
.__docs_atMedium_margin--left {
	@include atMediaUp(medium) {
		margin-left: $space !important;
	}
}

.__docs_height--full {
	height: 100%;
}

._docs__atMedium_span--auto {
	@include atMediaUp(medium) {
		width: auto !important;
	}
}

.__docs_flush--horizontal {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

//
// iFrame handling
//
iframe {
	border-width: 0;
	width: 100%;
}
