//
// SASS BASE FILE
// include any additional scss from `src/scss/` as sass partials
//

//
// color library
//
@import "../../node_modules/meetup-swatches/sass/colors.scss";

//
// swarm-sasstools utils
//
@import "swarm-sasstools-utils";

//
// styles from swarm-sasstools and meetup-web-components
//
@import "sds-styles";

/*
	DOCS STYLES GO HERE
*/

// Just for test purposes
body {
	background: honeydew;
	color: $C_textPrimary;
}

a {
	color: $C_link;
	outline: 1px purple;
}

._docs__atMedium_span--auto {
	// @include atMediaUp(medium) {
	// 	width: auto;
	// }
}

